@media (max-width: 992px) {
  #portfolio .grid .thumb .overlay .inner h3 {
    font-size: 1.8rem;
  }

  #portfolio .grid .thumb .overlay .inner .tag {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  #main .header .nav li {
    display: none;
  }

  #main .header .menu-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  #portfolio .grid .thumb {
    max-width: 50%;
  }

  #prices .price-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #prices .price-list .item {
    width: 100%;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 9px;
  }

  #main:before {
    background-position: center top;
  }

  #portfolio h2 {
    font-size: 2.5rem;
  }

  #portfolio .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #portfolio .filters li {
    margin: 0;
  }

  #portfolio .grid .thumb {
    max-width: 100%;
  }

  #contacts .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  #contacts .footer .socials {
    margin-top: 1.5rem;
  }
}