@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

*:focus,
*:active {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  color: #333;
  letter-spacing: 0.05rem;
}

.menu-btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 5rem;
  height: 5rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  position: absolute;
  top: 50%;
  margin-top: -0.2rem;
  left: 50%;
  margin-left: -1.5rem;
  width: 3rem;
  height: 0.4rem;
  background-color: #000;
}

.menu-btn span:before,
.menu-btn span:after {
  content: '';
  -webkit-transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
  -o-transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
  transition: 0.3s cubic-bezier(0.75, -0.5, 0, 1.75);
}

.menu-btn span:before {
  -webkit-transform: translateY(-0.8rem);
  -ms-transform: translateY(-0.8rem);
  transform: translateY(-0.8rem);
}

.menu-btn span:after {
  -webkit-transform: translateY(0.8rem);
  -ms-transform: translateY(0.8rem);
  transform: translateY(0.8rem);
}

.menu-btn.active span {
  background: transparent;
}

.menu-btn.active span:before {
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.menu-btn.active span:after {
  -webkit-transform: rotate(-225deg);
  -ms-transform: rotate(-225deg);
  transform: rotate(-225deg);
}

h2 {
  margin: 1rem 0;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.4rem;
  padding: 2rem;
  background: #f23448;
  font-size: 1.6rem;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-weight: lighter;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  color: #fff;
  background: #e40f25;
}

.modal {
  position: fixed;
  z-index: 9998;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.modal.active {
  left: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.modal-content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  border: none;
  margin: auto;
}

.modal-content ul.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-content ul.nav li {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1rem 0;
  border-bottom: 0.2rem solid #f23448;
}

.modal-content ul.nav li:last-child {
  border: none;
}

.modal-content ul.nav li:hover {
  color: #f23448;
}

#main {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  background: rgba(255,255,255,0.4);
  position: relative;
}

#main:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg") center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f2f2f4;
}

#main .header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 1.5rem 0;
}

#main .header .info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .header .info .photo {
  width: 5.5rem;
  height: 5.5rem;
}

#main .header .info .photo img {
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

#main .header .info .side {
  margin-left: 1rem;
}

#main .header .info .side .name {
  font-weight: bold;
  margin-bottom: 0.4rem;
}

#main .header .info .side .description {
  font-size: 80%;
  font-weight: lighter;
}

#main .header .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#main .header ul.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

#main .header ul.nav li {
  margin-right: 2.5rem;
}

#main .header ul.nav li:hover {
  color: #dc3545;
}

#main .header ul.nav li:last-child {
  margin: 0;
}

#main .header .menu-btn {
  display: none;
  position: relative;
  z-index: 9999;
}

#main .main-text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 4rem;
}

#main .main-text h1 {
  font-family: Arial;
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: normal;
  margin-bottom: 1.5rem;
}

#main .main-text h1 strong {
  display: block;
  color: #f23448;
}

#main .main-text h1 .small {
  margin-left: -0.6rem;
  font-weight: inherit;
  font-size: 70%;
}

#main .main-text ul.offerings {
  text-align: left;
}

#main .main-text ul.offerings li {
  font-size: 1.5rem;
  margin: 0.6rem 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#main .main-text ul.offerings li:before {
  content: '';
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  background: #86d144;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-right: 1rem;
  -webkit-box-flex: 0;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
}

#main .main-text .btn {
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

#portfolio {
  padding: 4rem 0;
  padding-bottom: 16rem;
  position: relative;
  z-index: 15;
  overflow: hidden;
  background: #f8f8f8;
}

#portfolio:before {
  position: absolute;
  content: '';
  z-index: -1;
  height: 10rem;
  display: block;
  left: -5rem;
  bottom: -5rem;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  width: 120%;
  background: #fff;
}

#portfolio h2 {
  margin-bottom: 4rem;
}

#portfolio h2:after {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 3rem;
  content: '';
  width: 5rem;
  height: 0.15rem;
  background: #000;
}

#portfolio .filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 1.6rem;
}

#portfolio .filters li {
  text-align: center;
  margin-right: 2rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: 0.2rem solid transparent;
}

#portfolio .filters li a {
  display: block;
  padding: 1rem 0.5rem;
}

#portfolio .filters li:last-child {
  margin: 0;
}

#portfolio .filters li.active,
#portfolio .filters li:hover {
  border-bottom: 0.2rem solid #f23448;
}

#portfolio .grid {
  margin: 0 auto;
  margin-top: 5rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#portfolio .grid .thumb {
  overflow: hidden;
  position: relative;
  max-width: 33.333333333333336%;
  cursor: pointer;
}

#portfolio .grid .thumb:last-child {
  margin-right: 0;
}

#portfolio .grid .thumb img {
  width: 100%;
  height: 100%;
}

#portfolio .grid .thumb .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(242,52,72,0.9);
  text-align: center;
  color: #fff;
}

#portfolio .grid .thumb .overlay.active {
  opacity: 1;
}

#portfolio .grid .thumb .overlay.active .inner {
  top: 0;
}

#portfolio .grid .thumb .overlay .inner {
  position: relative;
  top: -2.5rem;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#portfolio .grid .thumb .overlay .inner h3 {
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}

#portfolio .grid .thumb .overlay .inner .tag {
  font-size: 1.6rem;
}

#portfolio .grid .thumb .overlay .inner .btn {
  margin: 0 auto;
  margin-top: 3.5rem;
  background: #fff;
  color: #f23448;
}

#contacts {
  position: relative;
  margin-top: 5rem;
  padding: 4rem 0;
  padding-top: 12rem;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

#contacts:before {
  position: absolute;
  content: '';
  z-index: 2;
  height: 10rem;
  display: block;
  left: -5rem;
  top: -5rem;
  -webkit-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  width: 120%;
  background: #fff;
}

#contacts .footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

#contacts .footer .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

#contacts .footer .main .contact-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

#contacts .footer .main .contact-block img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2rem;
  height: 2rem;
}

#contacts .footer .main .contact-block .side {
  margin-left: 1rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#contacts .footer .main .contact-block .side span {
  font-weight: bold;
  margin-bottom: 1rem;
}

#contacts .footer .main a {
  margin: 0.5rem 0;
}

#contacts .socials {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#contacts .socials li {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 1rem;
}

#contacts .socials li img {
  max-width: 100%;
}

#contacts .phone:hover,
#contacts .email:hover {
  text-decoration: underline;
}

#prices {
  padding: 4rem 0;
}

#prices .price-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

#prices .price-list .item {
  position: relative;
  width: 33.333333333333336%;
  height: 30rem;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

#prices .price-list .item img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
}

#prices .price-list .item:nth-child(2) .overlay {
  background: rgba(255,192,69,0.95);
}

#prices .price-list .item:hover {
  cursor: pointer;
}

#prices .price-list .item:hover .overlay {
  opacity: 0.8;
}

#prices .price-list .item .overlay {
  position: relative;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(242,52,72,0.9);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

#prices .price-list .item .overlay .inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%;
  margin: auto;
}

#prices .price-list .item .overlay .inner .title {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-family: 'Open Sans Condensed';
  font-weight: 900;
}

#prices .price-list .item .overlay .inner .price {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.cta {
  margin-top: 5rem;
  text-align: center;
}

.cta p {
  font-size: 1.6rem;
}

.cta .btn {
  margin: auto;
  margin-top: 2rem;
}